body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Hompage */
.main-section {
  float: right;
  width: 80%;
  height: 100%;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  /* box-shadow: -3px 0 3px rgba(0, 0, 0, 0.3); */
  background-color:gray;
  z-index: 4;
}

.home {
  color: white;
  position: absolute;
  text-shadow: 2px 2px gray;
}

.homepage-h1 {
  font-family: 'Space Mono', monospace;
  top: 100px;
  left: 0;
  width: 100%;
}

.homepage-p {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.2em;
  color:white;
  top: 250px;
  left: 0;
  width: 100%;
}

img {
  position:relative;
  opacity: .5;
}

/* About Section */
.about-section {
  padding: 5em 6em 7em 6em;
  float: right;
  width: 80%;
  height: 100%;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background-color: #5D6A7F;
  /* box-shadow: -3px 0 3px rgba(0, 0, 0, 0.3); */
  z-index: 4;
}

.about-header {
  font-family: 'Space Mono', monospace;
  font-size: 3em;
  /* margin: 0 0 .5em 0; */
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  color: white;
}

.about-content {
  text-align: left;
  color: white;
  font-size: 1.2em;
  font-family: 'Merriweather Sans', sans-serif;
}

/* Skills Section */

.skills-section {
  width: 80%;
  height: 100%;
  float: right;
  display:flex;
  justify-content: space-around;
  margin: 3em 1em 3em 1em;
  /* box-shadow: -3px 0 3px rgba(0, 0, 0, 0.3); */

}

.skills-header {
  font-family: 'Space Mono', monospace;
  font-size: 1.6em;
  margin: 0 0 .5em 0;
  text-align: left;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

.skill-details {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.1em;
  margin: 0;
  text-align: left;
}

/* Project Section */

.languages-used-item {
    display: inline-block;
    margin: 3px 3px 3px 0;
    font-family: Inconsolata,monospace;
    font-size: .75rem;
    font-weight: 700;
    padding: 2px 7px;
    border-radius: 3px;
    color: #007bff;
    border: 1px solid #007bff;
    background: 0 0;
  }
