.main-section {
  float: right;
  width: 80%;
  height: 100%;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  /* box-shadow: -3px 0 3px rgba(0, 0, 0, 0.3); */
  background-color:gray;
  z-index: 4;
}

.home {
  color: white;
  position: absolute;
  text-shadow: 2px 2px gray;
}

.homepage-h1 {
  font-family: 'Space Mono', monospace;
  top: 100px;
  left: 0;
  width: 100%;
}

.homepage-p {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.2em;
  color:white;
  top: 250px;
  left: 0;
  width: 100%;
}

img {
  position:relative;
  opacity: .5;
}
