#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  min-height: 100vh;
  max-height: 100vh;
  width: 20%;
  z-index: 2;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: background-color 0.5s ease;
  background-color: #D9D9D9;
}

.nav-ul {
  width:100%;
  height:100%;
  margin: 0;
}

#nav-li {
  min-height: 48px;
  max-height: 48px;
  padding:0;
}

#nav-text {
  color: black;
  pointer-events: none;
  flex: 0 1 auto;
  font-size: 1.1em;
  letter-spacing: 1.34px;
  user-select: none;
}

.icon {
  margin: 0 12px;
  padding-top: .3em;
  position: relative;
  top: .2em;
}

.last{
  width: 100%;
  height:100%;
  padding-bottom:  100%;
  margin-bottom: 0;
  background-color: white;
}
